$light-color: #eae9d2;
$dark-color: #4b7399;
$yellow: rgb(255, 179, 0);
$hl-light-color: rgba($yellow, 0.5);
$hl-dark-color: rgba($yellow, 0.5);
$dark-color-alpha: rgba($dark-color, 0.8);

$font-stack: Roboto Mono, monospace;
$primary-color: #333;
