//
// MDC Theme
//

@import "../vars.scss";

// Svelte Colors!
$mdc-theme-primary: $light-color;
$mdc-theme-secondary: $dark-color;

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: #ff3e00;
